<h1>Greetings, <%= @name %></h1>
<p>The time is <%=formated_time(@time)%></p>
<p>This page has been viewed <%= @times_displayed%> time(s)</p>

<p><%= link_to "Google", "https://www.google.co.uk" %></p>
<p><%= link_to "Goodbye", "/greeter/goodbye" %></p>